.me-auto {
    margin-left: 200px;
    font-size: 20px;
}
#Cart {
    font-size: 30px;
    margin-left: 800px;
}
#User {
    font-size: 30px;
}
@media (min-width:700px) {
    #cart {
        margin-right: 800px;
    }
}